.listForMangas {
  display: flex;
  width: 90vw;
  height: 800px;
  margin-left: 5vw;
  margin-right: 10vw;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  padding: 16px;
}

.Tops_Header {
  display: flex;
  margin-left: 11vw;
  width: 73vw;
  height: 50px;
  align-items: center;
  background-color: #121212;

}

.headerHeader {
  width: 11vw;
  height: 50px;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerHeader button {
  background-color: #121212;
  color: #dedede;
  font-weight: bold;
  font-size: 15px;
  border: none;
}
.headerHeader button:active,
.headerHeader button:focus{
  color: #1976d2;
}

.headerHeader button {
  position: relative;
}
.headerHeader button::after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #1976d2;
  display: none;
  animation: jump 1s forwards;
}



.headerHeader button:active::after {
  display: block;
}


