.form {
  background-color: #171717;
  border-radius: 16px;
  width: 335px;
  height: 500px;
  padding: 64px 54px 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 2000px black;
  z-index: 101;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-weight: 700;
    color: #ababab;
    font-size: 18px;
    margin-left: 5px;
  }

  .boxInp {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      color: white;
      border: none;
      width: 315px;
      height: 30px;
      outline: none;
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      border-radius: 20px;
      background-color: #1f1f1f;

      &::placeholder {
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  .boxSoglashenie {
    padding: 10px;

    .soglashenie {
      font-size: 12px;
    }
  }

  .button {
    width: 335px;
    height: 50px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
    background-color: #1876d2;
  }

  .boxZaRegistr {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .registr {
      color: #1976d2;
      font-weight: 700;
    }
  }
}
