.box {
  margin: 20px 50px 0 50px;
  display: flex;
}
.box .boxForOtherNames {
  font-weight: 600;
}
.box .photo {
  width: 250px;
  height: auto;
  border-radius: 8px;
}
.box .boxForButton {
  display: flex;
  flex-direction: column;
}
.box .boxForButton .buttonA {
  background-color: #1976d2;
  border-radius: 8px;
  text-decoration: none;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px;
}
.box .boxForButton .buttonZakladka {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #1976d2;
  color: white;
}
.box .boxForButton .buttonNoneChapter {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #374a5c;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: no-drop;
}

.skyliton {
  margin-bottom: 5px;
  background-color: #2b2b2b;
  width: 250px;
  height: 450px;
  border-radius: 8px;
}

.boxForDescriptionOfContent {
  margin: -1vw 50px 0 50px;
  padding-top: 20px;
  height: 85vh;
  overflow-x: scroll;
}
.boxForDescriptionOfContent .boxForName {
  position: relative;
}
.boxForDescriptionOfContent .boxForName .status {
  position: absolute;
  bottom: 15%;
  right: 35%;
  color: #7f7f7f;
  font-weight: 600;
  display: block;
}
.boxForDescriptionOfContent .boxForRating {
  width: 60vw;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid grey;
}
.boxForDescriptionOfContent .boxForRating .elementRating {
  margin-right: 40px;
  text-align: center;
  font-size: 17px;
}
.boxForDescriptionOfContent .boxForRating .star {
  font-size: 20px;
  color: #ff9800;
  margin-right: 5px;
}
.boxForDescriptionOfContent .boxForRating .heart {
  font-size: 16px;
  margin-right: 5px;
}
.boxForDescriptionOfContent .boxForRating .eyes {
  font-size: 20px;
  margin-right: 5px;
}
.boxForDescriptionOfContent .boxForRating .bsBook {
  font-size: 17px;
  color: white;
  margin-right: 5px;
}
.boxForDescriptionOfContent .rating {
  font-weight: 700;
}

.description {
  padding-top: 20px;
}
.description .ButtonDescription {
  width: 85px;
  border: none;
  background-color: transparent;
  color: white;
  padding: 12px 0 12px 0;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
  font-family: "Roboto Flex", sans-serif;
}
.description .ButtonDescription:hover {
  background-color: #1b1b1b;
  font-size: 13px;
}
.description .ButtonDescription:hover:active {
  color: #1976d2;
}
.description .ButtonDescription:hover::before {
  width: 80%;
}
.description .ButtonDescription::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #1976d2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.3s ease;
}
.description .Li {
  text-align: center;
  width: 650px;
  display: flex;
  justify-content: space-around;
  background-color: #181818;
  border-radius: 8px;
  height: 40px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.p {
  width: 800px;
  height: 150px;
  font-weight: 600;
  line-height: 2;
  margin-top: 15px;
}
.p .boxComments {
  margin-top: 20px;
}
.p .boxComments .Comments {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.p .boxComments .Comments .boxComment {
  width: 40vw;
  height: 100px;
  padding: 5px 20px 0 20px;
  background-color: #171717;
  border-radius: 16px;
}
.p .boxComments .Comments .boxComment .boxLike {
  display: flex;
  gap: 5px;
}

.boxForGenres {
  width: 800px;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.gener {
  background-color: #212123;
  border-radius: 15px;
  padding: 0 9px 0 9px;
}

/*# sourceMappingURL=CardManga.module.css.map */
