.Scroll{
    margin-top: 60px;
    display: flex;
    background-color: #2b2b2b;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 3vh;
    padding: 10px 6px 10px 6px;
    justify-content: flex-start;
}

a {
    text-decoration: none;
}

* {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}